body {
  background-image: url("refForPersonal/BG2.JPG");
  background-size: 100% 100%;
  img {color:#fff;
       font: Sans;
     };


}

h1 {
  color: white;
  padding: auto;
  font-style: italic;
  font-family: "Silkscreen", Static;
}
h2 {
  color: white;
  padding: auto;
  font-family: "Cutive Mono", Static;
}

.myheaders {
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 30px;
}


#special (color: pink)
#content (display: name)

.shadow {
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+,
                                                Chrome 6+, iOS 5 */
}

.bg-pad {                         /*does the white block of backgorund text*/
 background: rgba(0,0,0,.6);
 color: white;
 padding: 5px;
 line-height: 45px;
 font-size: 20.5px;
 font-family: "Courier New", monospace;
}
.translucentBlock {               /*tanslucent bakground text block*/
  background-color: rgba(0,0,0,.5);
  color: #d3d3d3;
  font-size: 18px;
  padding-left: 15px;
  padding-right: 10px;
  font-family: "Pixelify Sans";
}

details {
  user-select: none;
}
details>summary span.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
  margin-left: auto;
}
summary {
  display: flex;
  cursor: pointer;
}

a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: pink;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}
