body {
  background-image: url("refForPersonal/BG2.JPG");
  background-size: 100% 100%;
}

h1 {
  color: white;
  margin-left: 20px;
}

.myheaders {
  background-color: black;
  color: white;
  padding: 30px
  font-size: 20px;
}


#special (color: pink)
#content (display: name)

.shadow {
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
